apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: shopping-api
  namespace: shopping
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  ingressClassName: nginx
  rules:
    - host: www.shoppingapitest.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: shopping-api
                port:
                  number: 80
  tls:
  - hosts:
    - www.shoppingapitest.com
    secretName: shopping-api-ingress-secret