apiVersion: v1
kind: Service
metadata:
  labels:
    app: shopping-api
    service: shopping-api
  name: shopping-api
  namespace: shopping-api-3a1dedd0c856f212f86333c633f5bee8
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    service: shopping-api
  type: ClusterIP