apiVersion: v1
kind: Service
metadata:
  labels:
    app: devopszon-authserver
    service: devopszon-authserver
  name: devopszon-authserver
  namespace: default
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    service: devopszon-authserver
  type: ClusterIP