apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: shopping-client
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: shopping
  source:
    repoURL: https://github.com/devopszon/saas-host-shopping-client-3a1df356-1952-5a09-ef9e-d3b8631ddfbc.git
    targetRevision: HEAD
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true