apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: shopping
  name: shopping-client
  labels:
    app: shopping-client
    project-id: shopping-client-3a1d6bb4-a8f4-4399-c205-8fd1e0d49b0f
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  selector:
    matchLabels:
      service: shopping-client
      project-id: shopping-client-3a1d6bb4-a8f4-4399-c205-8fd1e0d49b0f
  template:
    metadata:
      labels:
        app: shopping-client
        service: shopping-client
        project-id: shopping-client-3a1d6bb4-a8f4-4399-c205-8fd1e0d49b0f
      annotations:
        vault.hashicorp.com/agent-inject: 'true'
        vault.hashicorp.com/agent-configmap: 'shopping-client-vault-config'
    spec:
      serviceAccountName: shopping-client
      imagePullSecrets:
      - name: shopping-client-registry-secret
      volumes:
      - name: kube-api-access
        projected:
          defaultMode: 420
          sources:
          - serviceAccountToken:
              expirationSeconds: 3607
              path: token
              audience: vault
          - configMap:
              name: kube-root-ca.crt
              items:
              - key: ca.crt
                path: ca.crt
          - downwardAPI:
              items:
              - path: namespace
                fieldRef:
                  fieldPath: metadata.namespace
      
      containers:
        - name: shopping-client
          image: docker.io/cahityusuf/shopping-client:latest
          command: ["/bin/sh", "-c"]
          args:
            - |
              set +x
                if [ -f /vault/secrets/env ]; then
                    grep -v '^#' /vault/secrets/env | sed 's/^/export /' > /tmp/formatted_env
                    . /tmp/formatted_env >/dev/null 2>&1
                fi
                exec dotnet Shopping.Client.dll
          ports:
          - name: http
            containerPort: 8080
            protocol: TCP
          
          resources:
            requests:
              memory: 512Mi
              cpu: 500m
            limits:
              memory: 1Gi
              cpu: 1
          
             