apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: default
  name: shopping-client
  labels:
    app: shopping-client
    project-id: shopping-client-3a1d6bb4-a8f4-4399-c205-8fd1e0d49b0f
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  selector:
    matchLabels:
      service: shopping-client
      project-id: shopping-client-3a1d6bb4-a8f4-4399-c205-8fd1e0d49b0f
  template:
    metadata:
      labels:
        app: shopping-client
        service: shopping-client
        project-id: shopping-client-3a1d6bb4-a8f4-4399-c205-8fd1e0d49b0f
      annotations:
        vault.hashicorp.com/agent-inject: 'false'
    spec:
      serviceAccountName: shopping-client
      imagePullSecrets:
      - name: shopping-client-registry-secret
      
      
      containers:
        - name: shopping-client
          image: docker.io/cahityusuf/shopping-client:v17
          command: ["/bin/sh", "-c"]
          args:
            - |
              exec dotnet Shopping.Client.dll
          ports:
          - name: http
            containerPort: 8080
            protocol: TCP
          
          resources:
            requests:
              memory: 512Mi
              cpu: 500m
            limits:
              memory: 1Gi
              cpu: 1
          
             