apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: shopping-client
  namespace: default
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  ingressClassName: nginx
  rules:
    - host: shopping-client-test.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: shopping-client
                port:
                  number: 8080
  tls:
  - hosts:
    - shopping-client-test.com
    secretName: shopping-client-ingress-secret