apiVersion: v1
kind: Service
metadata:
  name: shopping-client
  namespace: default
  labels:
    app: shopping-client
    service: shopping-client
spec:
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
      name: http
  selector:
    service: shopping-client
  